* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --bg-color: #1f241f;
    --text-color: #fff;
    --main-color: #0091ff;
    --second-bg-color: #323946;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header span {
    color: #004cff;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.3rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 25vw;
    height: 60vh;
    border-radius: 50%;
    animation: floatImage;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 600;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.3rem;
    font-weight: 700;
    line-height: 1.3;
}

.home p {
    font-size: 1.6rem;
    line-height: 1.6;
}

.bxs-star {
    color: #ffff00af;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    border-radius: 50%;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    border: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    background: var(--main-color);
    font-weight: 600;
    letter-spacing: .1rem;
    transition: .4s;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
    height: 80vh;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 3rem;
}

.wrap-skill {
    background: #000;
    color: white;
}

.skills {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 2.2rem;
    height: 92vh;
}

.skills-top {
    text-align: center;
    font-size: 2.2rem;
}

.skills-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2.2rem;
    gap: 5rem;
}

.skills-right {
    width: 45%;
    display: flex;
    flex-direction: column;
    border-radius: .6rem;
    border: .2rem solid;
    padding: .5rem 1.5rem;
    gap: 22px;
}

.skills-right hr {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid;
    background-color: rgb(192, 192, 192);
    position: relative;
    padding: .5rem;
    width: 100%;
}

.skills-right hr::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 10rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    height: 100%;
    border-radius: .3rem;
}

.hr1::before {
    width: 80%;
}

.hr2::before {
    width: 70%;
}

.hr3::before {
    width: 70%;
}

.hr4::before {
    width: 65%;
}

.hr5::before {
    width: 80%;
}

.hr6::before {
    width: 70%;
}

.hr7::before {
    width: 60%;
}

.hr8::before {
    width: 60%;
}

.con {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.portfolio {
    background: var(--second-bg-color);
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 3rem;
    color: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea,
.contact form .rt {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0.3rem;
}

.contact form .rt #p {
    position: fixed;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 3rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--second-bg-color);
    padding: 2rem 9%;
}

.footer-text p {
    font-size: 1.6rem;
}

.footer .footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer .footer-icon a i {
    font-size: 2.6rem;
    color: var(--second-bg-color);
}


/* BreakPoint */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .skills {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar .active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about img {
        width: 70vw;
        margin-top: 4rem;
    }
    .skills {
        margin-bottom: 3rem;
    }
    .portfolio h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }
    .about-img img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}